{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h1>Главная</h1>
  <div class="container">
    <img src="{% static 'other/img/Слайд1.jpg' %}" class="img-fluid" alt="...">
    <div class="container m-3">
      <div class="row">
        {% for celebrity in celebrities %}
          <div class="col-sm">
            <img src="{{ celebrity.img }}" class="bd-placeholder-img rounded-circle" width="140" height="140">
            <h5>{{ celebrity.name }}</h5>
            <h5>{{ celebrity.patronymic }}</h5>
            <h5>{{ celebrity.surname }}</h5>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}