{% load static %}

<header class="p-3 text-bg-dark">
    <div class="container">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'favicon_package/logo.svg' %}"
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% with request.resolver_match.view_name as view_name %}

            {% if view_name == 'homepage:home' %}
              <li><a href="{% url 'homepage:home' %}" class="nav-link px-2 text-secondary">Главная</a></li>
            {% else %}
              <li><a href="{% url 'homepage:home' %}" class="nav-link px-2 text-white">Главная</a></li>
            {% endif %}

            {% if view_name == 'celebrities:list' or view_name == 'celebrities:detail' %}
              <li><a href="{% url 'celebrities:list' %}" class="nav-link px-2 text-secondary">Известные люди</a></li>
            {% else %}
              <li><a href="{% url 'celebrities:list' %}" class="nav-link px-2 text-white">Известные люди</a></li>
            {% endif %}

            {% if view_name == 'landmarks:list' or view_name == 'landmarks:detail' %}
              <li><a href="{% url 'landmarks:list' %}" class="nav-link px-2 text-secondary">Достопримечательности</a></li>
            {% else %}
              <li><a href="{% url 'landmarks:list' %}" class="nav-link px-2 text-white">Достопримечательности</a></li>
            {% endif %}

            {% if view_name == 'feedback:feedback' %}
              <li><a href="{% url 'feedback:feedback' %}" class="nav-link px-2 text-secondary">Обратная связь</a></li>
            {% else %}
              <li><a href="{% url 'feedback:feedback' %}" class="nav-link px-2 text-white">Обратная связь</a></li>
            {% endif %}
            
          {% endwith %}
        </ul>
        
      </div>
    </div>
</header>