{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="stylesheet" href="{% static 'other/css/index.css' %}">
    <meta name="theme-color" content="#ffffff">
    <title>Главная</title>
</head>
<body>
    {% include "includes/header.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>